/* Color Pallete
  Background = #004643
  Headline = #fffffe
  Highlight = #f9bc60
  Stroke = #001e1d
*/



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #001e1d;
}

main{
  padding: 24px 16px 24px 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  font-family: 'montserrat';
  font-size: 3rem;
  color: #fffffe;
  margin-bottom: 20px;
}

.title-span{
  color: #f9bc60;
}

.container{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.form-container, .list-container{
  background-color: #004643; 
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 30px 35px;
  min-height: 60vh;
  min-width: 60vh;
  border-radius: 25px;
  box-shadow: 0 4px 8px 5px rgba(0,0,0, 0.1), 0 4px 20px 5px rgba(0,0,0, 0.1);
}

.list-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 12px 8px 12px 8px;
  min-height: 60vh;
  min-width: 90vh;
  border-radius: 25px;
  box-shadow: 0 4px 8px 5px rgba(0,0,0, 0.1), 0 4px 20px 5px rgba(0,0,0, 0.1);
}

.input-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
  width: 100%;
}

.input-form{
  padding: 16px 16px;
  border-radius: 25px;
  border: 0;
  box-shadow: 0 4px 4px 3px rgba(0,0,0, 0.1);
  background-color: #fffffe;
  outline: none;
}

input[type=text], input[type=date]{
  font-size: 1rem;
  font-family: 'montserrat';
  color: #001e1d;
}

label{
  font-family: 'montserrat';
  font-weight: 600;
  font-size: 1.2rem;
  color: #abd1c6;
  margin-left: 5px;
  margin-bottom: 5px;
}

button{
  min-width: 150px;
  padding: 16px 16px;
  font-family: 'montserrat';
  font-weight: 600;
  font-size: 1rem;
  color: #001e1d;
  background-color: #f9bc60;
  border: 0;
  border-radius: 75px;
  box-shadow: 3px 5px 10px 1px rgba(0,0,0, 0.3);
  cursor: pointer;
}

button:hover{
  background-color: #e16162;
  transition: 0.15s ease-in-out;
}